body {
    font-family: Arial;
    margin: 0;
    background: #b7c7de;
}

.navbar {
    background: #007bff;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 20px;
}

.section {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.chat-box {
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.book {
    text-align: center;
}

.book img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
body {
    margin: 0;
    font-family: Arial;
}

.welcome-page {
    background-image: url("images/welcome.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}